[project]
name = "ampel-hu-astro"
version = "0.10.0a14"
description = "Astronomy units for the Ampel system from HU-Berlin"
requires-python = ">=3.12, <4"
authors = [
    { name = "Valery Brinnel" },
    { name = "Jakob van Santen", email = "jakob.van.santen@desy.de" },
    { name = "Sjoert van Velzen" },
    { name = "Jakob Nordin" },
    { name = "Matteo Giomi" },
]
maintainers = [
    { name = "Jakob van Santen", email = "jakob.van.santen@desy.de" },
]
license = "BSD-3-Clause"
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Programming Language :: Python :: 3.14",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Typing :: Typed",
]
dependencies = [
    "ampel-interface (>=0.10.4.post2,<0.11)",
    "ampel-plot (>=0.9.1,<0.10.0)",
    "ampel-photometry (>=0.10.1,<0.11.0)",
    "ampel-alerts (>=0.10.3,<0.11.0)",
    "scipy (>=1.16.3,<2.0.0)",
    "beautifulsoup4 (>=4.14.3,<5.0.0)",
    "requests (>=2.32.5,<3.0.0)",
    "astropy (>=7.2.0,<8.0.0)",
    "pandas (>=2.3.3,<3.0.0)",
    "seaborn (>=0.13.2,<0.14.0)",
    "adjusttext (>=1.3.0,<2.0.0)",
    "more-itertools (>=10.8.0,<11.0.0)",
    "uncertainties (>=3.2.3,<4.0.0)",
    "scikit-learn (>=1.8.0,<2.0.0)",
]

[project.optional-dependencies]
elasticc = [
    "xgboost (>=3.1.2,<4.0.0)",
    "astro-parsnip (>=1.4.2,<2.0.0)",
    # pytorch 2.6 breaks model deserialization
    "torch (>=2.5,<2.6)",
    "timeout-decorator (>=0.5.0,<0.6.0)",
    "ampel-lsst (>=0.10.1a7,<0.11)",
    "light-curve (>=0.10.5,<0.11.0)",
    "lightgbm (<3)",
    "extinction (>=0.4.8,<0.5.0)"
]
extcats = ["extcats (>=2.5.0,<3.0.0)"]
ligo = [
    "healpy (>=1.19.0,<2.0.0)",
    "sncosmo (>=2.12.1,<3.0.0)",
    "iminuit (>=2.32.0,<3.0.0)",
    "sfdmap2 (>=0.2.2.post3,<0.3.0)",
    "ligo-gracedb (>=2.14.3,<3.0.0)",
    "ampel-ztf (>=0.10.3a7,<0.11.0)",
]
slack = ["slack-sdk (>=3.39.0,<4.0.0)"]
sncosmo = [
    "sncosmo (>=2.12.1,<3.0.0)",
    "iminuit (>=2.32.0,<3.0.0)",
    "sfdmap2 (>=0.2.2.post3,<0.3.0)",
]
snpy = ["snpy (>=2.7.0,<3.0.0)"]
ztf = [
    "ampel-ztf (>=0.10.3a7,<0.11.0)",
    "ztfquery (>=1.28.0,<2.0.0)",
]
lsst = ["ampel-lsst (>=0.10.1a7,<0.11)"]
hop = [
    "hop-client (>=0.12.1,<0.13.0)",
    "py-avro-schema (>=3.8.2,<4.0.0)",
]
lasair = ["lasair (>=0.1.2,<0.2.0)"]
[dependency-groups]
dev = [
    "pytest-ampel-core (>=0.10.0a4,<0.11)",
    "mypy (>=1.13,<2.0)",
    "pytest-mock (>=3.15.1,<4.0.0)",
    "types-requests (>=2.32.4.20250913,<3.0.0.0)",
    "types-pytz (>=2025.2.0.20251108,<2026.0.0.0)",
    "types-pillow (>=10.2.0.20240822,<11.0.0.0)",
    "types-pyyaml (>=6.0.12.20250915,<7.0.0.0)",
    "pandas-stubs (>=2.3.3.251201,<3.0.0.0)",
    "scipy-stubs (>=1.16.3.3,<2.0.0.0)",
    "types-seaborn (>=0.13.2.20251214,<0.14.0.0)",
]

[tool.poetry]
packages = [
    {include = "ampel"},
]
exclude = ["ampel/py.typed"]

<<<<<<< HEAD
[project.urls]
homepage = "https://ampelproject.github.io"
repository = "https://github.com/AmpelAstro/Ampel-HU-astro"
=======
[tool.poetry.dependencies]
python = "^3.12"
ampel-core = {version = ">=0.10.6a21,<0.11"}
ampel-plot = {version = "^0.9.1"}
ampel-photometry = {version = ">=0.10.1,<0.11"}
ampel-alerts = {version = ">=0.10.3,<0.11"}
ampel-interface = {version = ">=0.10.4.post2,<0.11"}
sncosmo = {version = "^2.12", optional = true}
iminuit = {version = "^2.8.0", optional = true}
sfdmap2 = {version = "^0.2.0", optional = true}
scipy = ">=1.4"
beautifulsoup4 = "^4.10.0"
backoff = "^2"
requests = "^2.26.0"
astropy = ">=5.0"
pandas = ">=2.0"
seaborn = "^0.13.0"
adjustText = "^1.0.0"
extcats = {version = "^2.4.2", optional = true}
slack-sdk = {version = "^3", optional = true}
xgboost = {version = "^2.0.0", optional = true}
# torch 2.5 required for py313 support, torch 2.6 breaks stored parsnip models
torch = {version = ">=2.5,<2.6", optional = true}
timeout-decorator = {version = "^0.5", optional = true}
jupyter = {version = "^1.0.0", optional = true}
more-itertools = "^10.0.0"
uncertainties = "^3.1.7"
scikit-learn = "^1.1.3"
healpy = {version = "^1.16.2", optional = true}
light-curve = {version = "^0.10.0", optional = true}
ampel-lsst = {version = ">=0.10.1a5,<0.11", extras = ["kafka"], optional = true}
ztfquery = {version = "^1.26.1", optional = true}
ligo-gracedb = {version = "^2.12.0", optional = true}
snpy = {version = "^2.7.0", optional = true}
# latest parsnip version relies on old lightgbm - can we manage with that?
lightgbm = {version = "^4.6.0", optional = true}
# our parsnip version 
astro-parsnip = { git = "https://github.com/wombaugh/parsnip.git",  develop=true, optional = true }

py-avro-schema = {version = "~3", optional = true}
hop-client = {version = "^0.12.1", optional = true}
lasair = {version = "^0.1.2", optional = true}
ampel-ztf = "0.10.3a7"

[tool.poetry.group.dev.dependencies]
mypy = "^1.6.1"
pytest = "^8.0.2"
pytest-cov = "^7.0.0"
pytest-mock = "^3.12.0"
types-requests = "^2.25.9"
types-pytz = "^2022.1.2"
types-pillow = "^10.2.0.20240213"
# prevent poetry 1.3 from removing setuptools
setuptools = "*"
types-pyyaml = "^6.0.12.20240311"
mongomock = "^4.1.2"

[tool.poetry.extras]
elasticc = ["xgboost", "astro-parsnip", "timeout-decorator", "ampel-lsst", "light-curve", "lightgbm"]
extcats = ["extcats"]
ligo = ["healpy", "sncosmo", "iminuit", "sfdmap2", "ampel-ztf", "ligo-gracedb"]
slack = ["slack_sdk"]
sncosmo = ["sncosmo", "iminuit", "sfdmap2"]
snpy = ["snpy"]
notebook = ["jupyter"]
ztf = ["ampel-ztf", "ztfquery"]
lsst = ["ampel-lsst"]
hop = ["hop-client", "py-avro-schema"]
lasair = ["lasair"]

[tool.conda-lock]
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "osx-arm64"]

[tool.conda-lock.dependencies]
python-confluent-kafka = "1.7"
matplotlib-base = "3.*"
pip = "*"
>>>>>>> 2d81c74 (Sample VRO jobs.)

[build-system]
requires = ["poetry-core>=1.0.0", "setuptools>=40.8.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.group.notebook.dependencies]
jupyter = {version = "^1.0.0", optional = true}

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--showlocals -ra"
filterwarnings = [
    "error",
    "always:numpy.ndarray size changed:RuntimeWarning",
    # LaTeX in snpy docstrings
    "default:invalid escape sequence:SyntaxWarning",
    # dangling fits file in snpy
    "default:unclosed:ResourceWarning",
    "ignore:Deprecated call to `pkg_resources.declare_namespace\\('ligo'\\):DeprecationWarning",
    "ignore:pkg_resources is deprecated:DeprecationWarning",
    "ignore:(?s).*Pyarrow will become a required dependency of pandas:DeprecationWarning",
    "ignore:Python 3.14 will, by default, filter extracted tar archives and reject files or modify their metadata.:DeprecationWarning:sncosmo",
]

[tool.mypy]
packages = ["ampel"]
namespace_packages = true
show_error_codes = true
warn_unused_ignores = true
check_untyped_defs = true

[[tool.mypy.overrides]]
module = [
  "adjustText.*",
  "astropy.*",
  "confluent_kafka.*",
  "extcats.*",
  "healpy.*",
  "hop.*",
  "joblib.*",
  "lcdata.*",
  "light_curve.*",
  "ligo.*",
  "parsnip.*",
  "requests_toolbelt.*",
  "sncosmo.*",
  "timeout_decorator.*",
  "ztfquery.*",
]
ignore_missing_imports = true

[tool.black]
line-length = 88

[tool.ruff]
line-length = 88
target-version = "py312"
exclude = [
    "ampel/contrib/hu/xgb_trees.py",
    "notebooks",
    "scripts",
    "setup.py",
]

[tool.ruff.format]
line-ending = "lf"

[tool.ruff.lint]
select = [
    "E4",
    "E7",
    "E9",
    "F",
    "I",
    "UP", # pyupgrade
    "B", # bugbear
    "DTZ", # datetimez
    "T20", # print statements
    # "PT", # pytest-style
    "RET", # return
    "SLF",
    "SIM",
    # "ARG", # sometimes your arguments have to conform to an interface
    # "ERA", # seems to prohibit all comments, that's bad
    "PL",
    "PERF",
    "RUF",
]
ignore = [
    "E741", # ambiguous variable name
    "UP009", # UTF-8 encoding declaration is unnecessary
    "PLR09", # too many (arguments|branches)
    "PLR2004", # Magic value used in comparison
    "RUF012", # fine for AmpelUnit, actually (ruff has a special case for pydantic)
    "RUF023", # unsorted __slots__ are fine
]

[tool.ruff.lint.isort]
known-first-party = ["ampel"]

[tool.ruff.lint.per-file-ignores]
"tests/*" = [
    "RUF018",  # assignment in assert is just fine in tests
    "SLF001",  # allow private member access
    "T201",    # allow print()
]

[tool.ruff.lint.flake8-unused-arguments]
ignore-variadic-names = true
