[tool.poetry]
name = "ampel-hu-astro"
version = "0.8.4a0"
license = "BSD-3-Clause"
readme = "README.md"
description = "Astronomy units for the Ampel system from HU-Berlin"
homepage = "https://ampelproject.github.io"
repository = "https://github.com/AmpelProject/Ampel-HU-astro"
authors = [
    "Valery Brinnel",
    "Jakob van Santen <jakob.van.santen@desy.de>",
    "Sjoert van Velzen",
    "Jakob Nordin",
    "Matteo Giomi",
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Typing :: Typed",
]
packages = [
    {include = "ampel"}
]
include = [
    'conf/*/*.json',
    'conf/*/*/*.json',
    'conf/*/*.yaml',
    'conf/*/*/*.yaml',
    'conf/*/*.yml',
    'conf/*/*/*.yml',
]

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
ampel-plot = {version = ">=0.8.3-3,<0.9", source = "pypi"}
ampel-ztf = {version = ">=0.8.13,<0.9", extras = ["kafka"], optional = true}
ampel-photometry = {version = ">=0.8.3,<0.9", source = "pypi"}
ampel-interface = {version = ">=0.8.8,<0.9", source = "pypi"}
ampel-alerts = {version = ">=0.8.5,<0.9", source = "pypi"}
sncosmo = {version = "^2.5.0", optional = true}
iminuit = {version = "^2.8.0", optional = true}
sfdmap2 = {version = "^0.2.0", optional = true}
numpy = "^1"
scipy = ">=1.4"
beautifulsoup4 = "^4.10.0"
backoff = "^2"
requests = "^2.26.0"
astropy = ">=5.0"
# pymage never made it to pypi; distribute our own package
pymage = {version = "^0.5", optional = true, source = "desy-gitlab"}
pandas = "^2.0.0"
seaborn = "^0.12.0"
adjustText = "^1.0.0"
extcats = {version = "^2.4.2", optional = true, source = "pypi"}
slack-sdk = {version = "^3", optional = true}
xgboost = {version = "^1.6.2", optional = true}
astro-parsnip = {version = "^1.4.1", optional = true}
timeout-decorator = {version = "^0.5", optional = true}
jupyter = {version = "^1.0.0", optional = true}
voevent-parse = {version = "^1.0.3", optional = true}
more-itertools = "^9.0.0"
uncertainties = "^3.1.7"
scikit-learn = "^1.1.3"
healpy = {version = "^1.16.2", optional = true}
light-curve = {version = "^0.7.3"}
ampel-lsst = {version = ">=0.8.6,<0.9", optional = true}
ligo-gracedb = {version = "^2.12.0", optional = true}
astro-datalab = {version = "^2", optional = true}
# mainline snoopy can't be built as PEP 517 package; use our own distribution
snpy = {version = "^2.5.3", optional = true, source = "desy-gitlab"}

[tool.poetry.dev-dependencies]
mypy = "^1.6.1"
pytest = "^8.0.2"
pytest-cov = "^5.0.0"
pytest-mock = "^3.12.0"
types-requests = "^2.25.9"
types-pytz = "^2022.1.2"
# prevent poetry 1.3 from removing setuptools
setuptools = "*"

[tool.poetry.extras]
elasticc = ["xgboost", "astro-parsnip", "timeout-decorator", "ampel-lsst"]
extcats = ["extcats"]
ligo = ["healpy", "sncosmo", "iminuit", "sfdmap2", "ampel-ztf", "ligo-gracedb"]
panstarrs = ["pymage"]
legacy-surveys = ["astro-datalab"]
slack = ["slack_sdk"]
sncosmo = ["sncosmo", "iminuit", "sfdmap2"]
snpy = ["snpy"]
notebook = ["jupyter"]
voevent = ["voevent-parse"]
ztf = ["ampel-ztf"]

[tool.poetry.group.dev.dependencies]
ruff = "^0.1.13"
types-pyyaml = "^6.0.12.20240311"


[[tool.poetry.source]]
name = "desy-gitlab"
url = "https://gitlab.desy.de/api/v4/projects/jakob.van.santen%2Fampel-pypi-demo/packages/pypi/simple"
priority = "supplemental"

[tool.conda-lock]
channels = ["conda-forge"]
platforms = ["linux-64", "osx-64", "osx-arm64"]

[tool.conda-lock.dependencies]
python-confluent-kafka = "1.7"
matplotlib-base = "3.*"
pip = "*"

[build-system]
requires = ["poetry-core>=1.0.0", "setuptools>=40.8.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
namespace_packages = true
show_error_codes = true
check_untyped_defs = true

[[tool.mypy.overrides]]
module = [
  "numpy.*",
  "scipy.*",
  "pymongo.*",
  "bson.*",
  "matplotlib.*",
  "pandas.*",
  "seaborn.*",
  "astropy.*",
  "ampel.model.PlotProperties",
  "ampel.plot.utils",
  "dl.*",
  "lcdata.*",
  "timeout_decorator.*",
  "parsnip.*",
  "sncosmo.*",
  "requests_toolbelt.*",
  "adjustText.*",
  "extcats.*",
  "voeventparse.*",
  "healpy.*",
  "light_curve.*",
  "ligo.*",
]
ignore_missing_imports = true

[tool.pytest.ini_options]
addopts = "--cov=ampel --showlocals -ra"

[tool.black]
line-length = 88

[tool.ruff]
target-version = "py310"
exclude = [
    "ampel/contrib/hu/xgb_trees.py",
    "notebooks",
    "scripts",
    "setup.py",
]

[tool.ruff.lint]
select = [
    "E4",
    "E7",
    "E9",
    "F",
    "I",
    "UP", # pyupgrade
    "B", # bugbear
    "DTZ", # datetimez
    # "T20", # print statements
    # "PT", # pytest-style
    "RET", # return
    "SLF",
    "SIM",
    # "ARG", # sometimes your arguments have to conform to an interface
    # "ERA", # seems to prohibit all comments, that's bad
    "PL",
    "PERF",
    "RUF",
]
ignore = [
    "E741", # ambiguous variable name
    "UP009", # UTF-8 encoding declaration is unnecessary
    "PLR09", # too many (arguments|branches)
    "PLR2004", # Magic value used in comparison
    "RUF012", # fine for AmpelUnit, actually (ruff has a special case for pydantic)
]
