name: ci

on:
  push:
    branches:
      - main
      - renovate/*
      - dev/*
    tags:
      - v*
  pull_request:
    branches:
      - main
      - dev/*

jobs:
  ci:
    uses: AmpelProject/Ampel-interface/.github/workflows/ci.yml@e880b6e4cc9827cb4a85a06d00cb36738d9dda93 # ci-py12-v3
    secrets:
      PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
    with:
      mongo: true
      python-version: "3.10"
      lint: true
      format: true
  unit_inventory:
    # Only run on pull requests
    if: github.event_name == 'pull_request_target'
    runs-on: ubuntu-24.04
    steps:
    # Check out the PR head on pull_request, otherwise default
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      with:
        ref: ${{ github.event.pull_request.head.ref }}
        token: ${{ secrets.GH_TOKEN }}
    - name: "Set up environment"
      uses: packetcoders/action-setup-cache-python-poetry@0d0be5577b30d85f3fa2d93a4beeda149520f120 # v1.2.0
      with:
        python-version: "3.10"
        poetry-version: "1.8.2"
        install-args: --all-extras
    - name: Install root
      run: poetry run pip install -e . --no-deps
    - run: poetry run ./scripts/generate_unit_inventory.py -d ampel-hu-astro --target-file README.md
    - name: Commit changes
      # secret action bot user id from https://github.com/actions/checkout/pull/1184
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git add README.md
        git commit --author="$(git log ${{ github.event.pull_request.head.ref }} -1 --pretty='%an <%ae>')" -m "chore: Update README for ${{ github.sha }}" || exit 0
        git push
