name: ci

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main

jobs:
  mypy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniforge-version: latest
        environment-file: conda-linux-64.lock
    # - uses: actions/cache@v2
    #   id: cache
    #   with:
    #     path: ${{ env.CONDA }}
    #     key: ${{ hashFiles('conda-linux-64.lock') }}
    - name: Install pip dependencies
      # if: steps.cache.outputs.cache-hit != true
      run: |
        python -m pip install --no-deps -r <(cat conda-linux-64.lock | awk '/^# pip/ {print substr($0,7)}') 
    - name: Install project
      run: |
        python -m pip install --no-deps -e .
    - run: |
        mypy --namespace-packages -p ampel
  
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: s-weigand/setup-conda@v1
      with:
        conda-channels: conda-forge
        python-version: 3.9
    # - uses: actions/cache@v2
    #   id: cache
    #   with:
    #     path: ${{ env.CONDA }}
    #     key: ${{ hashFiles('setup.py') }}-${{ hashFiles('dev-requirements.txt') }}-py39
    - name: Set up conda env
      # if: steps.cache.outputs.cache-hit != true
      run: conda install -y sncosmo iminuit scipy numpy pandas
    - name: Install dependencies
      run: |
        python -m pip install --upgrade --upgrade-strategy eager -r dev-requirements.txt -e .
    - run: |
        pytest --cov=ampel

