name: ci

on:
  push:
    branches:
      - main
      - renovate/*
      - dev/*
    tags:
      - v*
  pull_request:
    branches:
      - main
      - dev/*

jobs:
  ci:
    uses: AmpelProject/Ampel-interface/.github/workflows/ci.yml@ci-py12-v2
    secrets:
      PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
    with:
      mongo: true
      python-version: "3.10"
      ruff: true